
.reveal * {
    font-family: FreeSerif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 { 
    font-family: FreeSerif;
  padding: 0 0;
  font-weight: bold;
}

.reveal h1 {
/*
  border-style: none none none solid;
  background-color: lightblue;
  border-left-width: 20px;
*/
    font-size: 1.5em;
    background-color: #f9f9f9;
}

.reveal h2 { 
    font-size: 1.4em;
    background-color: #f9f9f9;
}

.reveal h3 { 
    font-size: 1.0em;
}

.reveal h4 { 
    font-size: 0.5em;
}
/*
a:link:hover, a:visited:hover {
  color: darkred;
  background-color: yellow;
}
*/
.reveal body {
  background-color: white;
  color: black;
  line-height: 1.6em;
/* margin: 0;
padding: 0 0; */
}

.reveal pre {
  background-color: #eee;
  font-family: monospace;
/*  font-weight: bold; */
  font-style: normal;
  white-space: pre;
  margin: 10px;
  padding: 20px 10px 0px 10px;
}

.reveal table {
    margin: 0.5em 2em;
    border: #000 solid thin;
    width: 100%;
}
.reveal th {
    background-color: #f0f0f0;
     border: #000 solid thin;
     padding: 1px 20px;
     font-family: monospace;
     font-size: 0.6em;
}
.reveal td {
    background-color: #f0f0f0;
     border: #000 solid thin;
     padding: 1px 20px;
     font-family: monospace;
     font-size: 0.6em;
}
/*
.reveal .slides section {
    background-color: white;
    padding: 0 20px 0 0;
}
*/
.reveal b, .reveal a {
  color: #3366cc;
}

.reveal div.bg {
    width: 0;
    height: 0;
    z-index: -1;
    position:absolute; top:0px; left:0px;
}
